html {
  width: 100%;
  min-width: 100%;
}
body {
  width: 100%;
  min-width: 100%;
  padding-top: 5rem;
}
.fuzzy-bg {
  background: radial-gradient(rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
}
#cwock {
  display: flex;
  justify-content: center;
}
.days {
  display: flex;
  justify-content: center;
}
.day {
  position: relative;
  width: 20rem;
  .title {
    position: fixed;
    z-index: 10;
    text-align: center;
    @extend .fuzzy-bg;
    .date {
      opacity: 0.5;
    }
    .ref {
      font-weight: bolder;
    }
  }
  .title-holder {
    position: relative;
  }
  .notes-scale {
    position: relative;
  }
  .time-scale {
    margin-bottom: 9em;
    .hour {
      text-align: center;
      font-weight: bolder;
      opacity: 0.15;
    }
  }
  .title-holder, .time-scale .hour {
    height: 9rem;
    padding: 1rem;
  }
  .notes {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    .note {
      position: absolute;
      left: 0;
      width: 100%;
      @extend .fuzzy-bg;
      .taken_at, .content {
        display: inline-block;
        position: relative;
        margin: 0.25rem;
      }
      .value {
        display: block;
      }
      .input {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
      .value {
        opacity: 0.15;
      }
      &.focused {
        padding-top: 1rem;
        z-index: 10;
        font-size: larger;
        text-align: center;
        .taken_at, .content {
          display: block;
        }
      }
    }
  }
}
