html {
  width: 100%;
  min-width: 100%;
}
body {
  width: 100%;
  min-width: 100%;
  padding-top: 5rem;
}
.fuzzy-bg {
  background: radial-gradient(rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
}
#cwock {
  display: flex;
  justify-content: center;
}
.day {
  position: relative;
  width: 20rem;
  text-align: center;
  .title {
    position: fixed;
    z-index: 10;
    @extend .fuzzy-bg;
    .date {
      font-size: smaller;
    }
    .ref {
      font-weight: bolder;
      opacity: 0.5;
    }
  }
  .title-holder {
    position: relative;
  }
  .notes-scale {
    position: relative;
  }
  .time-scale {
    margin-bottom: 9em;
    .hour {
      font-weight: bolder;
      opacity: 0.25;
    }
  }
  .title-holder, .time-scale .hour {
    height: 9rem;
    padding: 1rem;
  }
  .notes {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    .note {
      position: absolute;
      left: 0;
      width: 100%;
      padding: 1rem;
      @extend .fuzzy-bg;
      &.focused {
        font-size: larger;
      }
    }
  }
}
